/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
	width: 900px;
	margin: auto;
}

@media( max-width: 1024px ) {
	.container {
		width: 100%;
		margin: auto;
	}
}

@media( max-width: 400px ) {
	.container {
		width: 100%;
		margin: auto;
	}
}

.nav {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	align-items: center;
}

@media( max-width: 1024px ) {
	.nav {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
		width: 100%;
	}
}

@media( max-width: 400px ) {
	.nav {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
	}
}

.nav-bar {
	width: 75%;
	display: flex;
	justify-content: space-around;
}

@media( max-width: 1024px ) {
	.nav-bar {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
}

@media( max-width: 400px ) {
	.nav-bar {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}

.nav-bar a {
	text-decoration: none;
}

@media( max-width: 400px ) {
	.nav-bar a {
		text-align: center;
	}
}


.top-bar {
	display: flex;
	width: 100%;
}

.top-left {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media( max-width: 1024px ) {
	.top-left {
		width: 100%;
		align-items: center;
	}
}

@media( max-width: 400px ) {
	.top-left {
		width: 100%;
		align-items: center;
	}
}

.top-left-text {
	text-align: center;
	font-size: 75px;
}

.top-left-button {
	background: none;
	height: 30px;
	width: 150px;
	border: 1px solid black;
}

.top-image {
	display: inherit;
}

@media( max-width: 1024px ) {
	.top-image {
		display: none;
	}
}

@media( max-width: 400px ) {
	.top-image {
		display: none;
	}
}

.top-section {
	width: 100%;
	display: flex;
}

@media( max-width: 400px ) {
	.top-section {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}

.top-section-box {
	width: 50%;
}

@media( max-width: 400px ) {
	.top-section-box {
		width: 100%;
	}
}

.middle-image {
	width: 100%;
}

.bottom-section {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

@media( max-width: 400px ) {
	.bottom-section {
		display: flex;
		flex-direction: column;
	}
}


.bottom-section-box {
	width: 33%;
}

@media( max-width: 400px ) {
	.bottom-section-box {
		width: 100%;
	}
}




@media( max-width: 1024px ) {}

@media( max-width: 400px ) {}



